<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_TimedBanners>
            <version>0.0.1</version>
        </Aligent_TimedBanners>
    </modules>
    <global>
        <blocks>
            <aligent_timedbanners>
                <class>Aligent_TimedBanners_Block</class>
            </aligent_timedbanners>
        </blocks>
        <helpers>
            <aligent_timedbanners>
                <class>Aligent_TimedBanners_Helper</class>
            </aligent_timedbanners>
        </helpers>
        <resources>
            <aligent_timedbanners_setup>
                <setup>
                    <module>Aligent_TimedBanners</module>
                </setup>
            </aligent_timedbanners_setup>
        </resources>
        <default>
            <aligent_holidaybanner>
                <enabled>0</enabled>
                <holiday_start_date>20/12/2000</holiday_start_date>
                <holiday_end_date>12/1/2001</holiday_end_date>
                <message>We are on holidays between the 20th of December and the 12th of January</message>
            </aligent_holidaybanner>
        </default>
    </global>
</config>